.header__menu {
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__menu__inner {
    display: flex;
    align-items: center;
}

.header__menu__list {
    display: flex;
}

.header__menu__list a:hover {
    border-bottom: 1px solid #f5a906;
    color: #f5a906 !important;
}

.header__menu__listActive a:hover {
    border-bottom: 1px solid #3f3e3e;
    color: #3f3e3e !important;
}

.header__menu__list li + li {
    margin-left: 45px;
}

.header__menu__list a {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.6px;
    color: #3f3e3e;
    padding-bottom: 5px;
    transition: all 0.2s;
    border-bottom: 0px solid #ffffff;
}

.header__menu__listActive a {
    color: #f5a906;
}

.active {
    color: #f5a906 !important;
}
